/* ripple animation */
.ripple {
  background-position: center;
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

/* required for radial material ui like anim */
.ripple:hover {
  background: #6200ee radial-gradient(circle, transparent 1%, #6200ee 1%) center/15000%;
}

/* ripple on click */
.ripple:active {
  background-color: #3700b3;
  background-size: 100%;
  transition: 0s;
  -webkit-transition: 0s;
}