body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", serif;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-container {
  flex: 1 1 30%;
  height: 100px;
}

#map {
  height: 300px;
  width: 100%;
}
