/* responsive flex boxes for contacts/opinions */
.box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.box > * {
  flex: 1 1 0;
}

/* google maps css, from docs */
#map {
  height: 300px;
  width: 100%;
}