/* cat cards with images and info */
.card {
  background-color: #6200ee;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  max-width: 400px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-image {
  height: auto;
  width: 100%;
  vertical-align: text-bottom;
}

.card-container {
  color: #ffffff;
  padding: 2px 16px;
}

.card-text {
  font-weight: bold;
}

.card-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
}